@import "tailwindcss";

@theme {
  --color-oatmeal: #faf6f0;
  --color-espresso: #272421;
  --color-sand: #e6dac6;
  
  --color-cocoa: #121110;
  --color-surface-1: #1a1817;
  --color-surface-2: #242120;
  --color-alabaster: #fcfaf7;
}

@media print {
  @page {
    margin: 1cm;
    size: portrait;
  }
  
  html, body {
    height: 100% !important;
    overflow: hidden !important;
    background-color: #ffffff !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  #root, main {
    height: 100% !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}

